In [5]:
list_1 = [34, 12, 89, 1]

In [8]:
list_1[0]

1

In [9]:
list_1[len(list_1) - 1]

1

In [10]:
list_1[1:3]

[12, 89]

In [11]:
list_1 = []
for x in range(0,10):
    list_1.append(x)
list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list_2 = [x for x in range(1,100)]
list_2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [13]:
i = 0
while i < len(list_1) :
    print(list_1[i])
    i += 1

0
1
2
3
4
5
6
7
8
9

In [15]:
list_3 = [x for x in range(0,100) if x % 5 == 0]
list_3

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [16]:
list_1 = [1, 4, 56, -1]
list_2 = [1, 29, 245, -23, 0 ,45]
list_3 = list_1 + list_2
list_3

[1, 4, 56, -1, 1, 29, 245, -23, 0, 45]

In [17]:
list_1.extend(list_2)
list_1

[1, 4, 56, -1, 1, 29, 245, -23, 0, 45]

In [18]:
list_1 = [x for x in range(0,100)]
for i in range (0, len(list_1)):
    print(list_1[i])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [19]:
for i in list_1:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [20]:
25 in list_1

True

In [21]:
-45 in list_1

False

In [22]:
list_1.sort(reverse = True)
list_1

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [23]:
list_1.reverse
list_1

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [24]:
import random

In [25]:
list_1 = [random.randint(0, 30) for x in range (0, 100)]

In [26]:
print(list_1)

[24, 14, 17, 30, 1, 7, 10, 6, 6, 27, 30, 22, 4, 8, 28, 13, 1, 8, 10, 8, 14, 13, 11, 19, 6, 25, 25, 20, 16, 27, 11, 24, 25, 6, 26, 27, 16, 30, 0, 20, 6, 22, 14, 27, 11, 20, 3, 19, 14, 12, 15, 18, 11, 4, 24, 12, 27, 12, 24, 30, 15, 10, 14, 16, 10, 21, 30, 2, 15, 29, 14, 21, 24, 26, 10, 30, 20, 24, 19, 17, 14, 20, 8, 4, 22, 23, 21, 9, 14, 25, 6, 18, 18, 24, 3, 8, 17, 0, 17, 8]

In [27]:
list_12 = list(set(list_1))
list_12

[0,
 1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [28]:
set1 = {"Apple", "Orange", "Banana"}
set2 = {"Pear", "Peach", "Mango", "Banana"}
set1 | set2

{'Apple', 'Banana', 'Mango', 'Orange', 'Peach', 'Pear'}

In [29]:
set1 & set2

{'Banana'}

In [30]:
null_set_1 = set({})
null_set_1

set()

In [31]:
null_set_2 = {}
null_set_2

{}

In [32]:
dict_1 = {"key1":"value1","key2":"value2"}
dict_1

{'key1': 'value1', 'key2': 'value2'}

In [33]:
dict_2 = {"key1":1, "key2":["list element1", 34], "key3": "value3", "key4":{"subkey1": "v1"}, "key5":4.5}
dict_2

{'key1': 1,
 'key2': ['list element1', 34],
 'key3': 'value3',
 'key4': {'subkey1': 'v1'},
 'key5': 4.5}

In [34]:
dict_2["key2"]

['list element1', 34]

In [36]:
dict_2["key2"] = "My new value"
dict_2

{'key1': 1,
 'key2': 'My new value',
 'key3': 'value3',
 'key4': {'subkey1': 'v1'},
 'key5': 4.5}

In [37]:
dict_3 = {}
dict_3["key1"] = "Value1"
dict_3

{'key1': 'Value1'}

In [38]:
dict_1 = {"key1":1, "key2":["list element1", 34], "key3": "value3", "key4":{"subkey1": "v1"}, "key5":4.5}
for k, v in dict_1.items():
    print("{} - {}".format(k, v))

key1 - 1
key2 - ['list element1', 34]
key3 - value3
key4 - {'subkey1': 'v1'}
key5 - 4.5

In [43]:
list_1 = [random.randint(0, 30) for x in range (0,100)]
list(dict.fromkeys(list_1).keys())

[24,
 25,
 14,
 3,
 22,
 29,
 4,
 23,
 7,
 11,
 1,
 2,
 21,
 15,
 27,
 8,
 26,
 17,
 19,
 6,
 9,
 10,
 12,
 18,
 16,
 20,
 30,
 5,
 13]

In [47]:
dict_1 = {"key1":1, "key2":["list element1", 34], "key3": "value3", "key4":{"subkey1": "v1"}, "key5":4.5}
dict_1

{'key1': 1,
 'key2': ['list element1', 34],
 'key3': 'value3',
 'key4': {'subkey1': 'v1'},
 'key5': 4.5}

In [48]:
del dict_1["key2"]
dict_1

{'key1': 1, 'key3': 'value3', 'key4': {'subkey1': 'v1'}, 'key5': 4.5}

In [49]:
list_1 = [x for x in range(0, 10)]
dict_1 = {x : x**2 for x in list_1}
dict_1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [50]:
dict_2 = dict([('Tom', 100), ('Dick', 200), ('Harry', 300)])
dict_2

{'Tom': 100, 'Dick': 200, 'Harry': 300}

In [51]:
dict_3 = dict(Tom=100, Dick=200, Harry=300)
dict_3

{'Tom': 100, 'Dick': 200, 'Harry': 300}

In [52]:
tupleE = "1", "3", "5"
tupleE

('1', '3', '5')

In [53]:
tupleE[1] = "5"

TypeError: 'tuple' object does not support item assignment

In [56]:
1, 3, 5 = tupleE

SyntaxError: can't assign to literal (<ipython-input-56-3c7319988203>, line 1)

In [57]:
print(1)
print(3)

1
3

In [62]:
str_1 = "Hello World!"
str_1[0]

'H'

In [63]:
str_1[4]

'o'

In [64]:
str_1[len(str_1)-1]

'!'

In [65]:
str_1 = "Hello World! I am learning data wrangling"

In [66]:
str_1[2:10]

'llo Worl'

In [67]:
str_1[-31:]

'd! I am learning data wrangling'

In [68]:
str_1[-10:-5]

' wran'

In [69]:
len(str_1)

41

In [71]:
str_1 = "A COMPLETE UPPER CASE STRING"
str_1.lower()
str_1.upper()

'A COMPLETE UPPER CASE STRING'

In [74]:
str_1 = "A complicated string look like this"
str_1.find("complicated")
str_1.find("hello")

-1

In [76]:
str_1.replace("complicated", "simple")

'A simple string look like this'

In [78]:
str_1 = "Name, Age, Sex, Address"
list_1 = str_1.split(",")
list_1

['Name', ' Age', ' Sex', ' Address']

In [79]:
"|".join(list_1)

'Name| Age| Sex| Address'